<body class="ecommerce">
<div class="section-space"></div>
<div class="container">
  <div class="row">
    <div class="col-md-8 ml-auto mr-auto text-center">
      <div class="brand">
        <h1 class="title">Ecommerce Page!</h1>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <!-- section -->
  <div class="section">
    <div class="container">
      <h2 class="section-title">Find what you need</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-refine card-plain card-rose">
            <div class="card-body">
              <h4 class="card-title">
                Refine
                <button class="btn btn-default btn-fab btn-fab-mini btn-link pull-right" rel="tooltip" title="" data-original-title="Reset Filter">
                  <i class="material-icons">cached</i>
                </button>
              </h4>
              <cdk-virtual-scroll-viewport itemSize="15">

                <div id="accordion" role="tablist"  *cdkVirtualFor="let cat of categorys">
                  <div class="card card-collapse" >
                    <div class="card-header" role="tab" id="headingTwo">
                      <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#{{cat.id}}" aria-expanded="false" aria-controls="collapseTwo" (click)="selectCat(cat.itemgroup1)">
                          {{cat.itemgroup1}}
                          <i class="material-icons">keyboard_arrow_down</i>
                        </a>
                      </h5>
                    </div>
                    <div id="{{cat.id}}" class="collapse" role="tabpanel" aria-labelledby="headingTwo" *ngIf="cat.itemgroups">
                      <div class="card-body">
                        <div id="accordiong2" role="tablist">
                          <div class="card card-collapse" *ngFor="let cat2 of cat.itemgroups">
                            <div class="card-header" role="tab" id="headingTwog2">
                              <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#{{cat2.id}}" aria-expanded="false" aria-controls="collapseTwog2" (click)="selectSubCat(cat.itemgroup1, cat2.itemgroup2)">
                                  {{cat2.itemgroup2}}
                                  <i class="material-icons">keyboard_arrow_down</i>
                                </a>
                              </h5>
                            </div>
                            <div id="{{cat2.id}}" class="collapse" role="tabpanel" aria-labelledby="headingTwo" *ngIf="cat2.itemgroups">
                              <div class="card-body">

                                <div id="accordiong3" role="tablist">
                                  <div class="card card-collapse" *ngFor="let cat3 of cat2.itemgroups">
                                    <div class="card-header" role="tab" id="headingTwog3">
                                      <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#{{cat3.id}}" aria-expanded="false" aria-controls="collapseTwog3" (click)="selectSubSubCat(cat1.itemgroup1, cat2.itemgroup2, cat3.itemgroup3)">
                                          {{cat3.itemgroup3}}
                                          <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                      </h5>
                                    </div>
                                    <div id="{{cat3.id}}" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                      <div class="card-body">
                                        qsdqsd
                                      </div>
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>



                      </div>
                    </div>
                  </div>
                </div>

              </cdk-virtual-scroll-viewport>


            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row " style="height: 100%">

            <cdk-virtual-scroll-viewport itemSize="100" style="width: 100%;height:100%; position: qsdqsd">
            <div class="col-md-4 " *cdkVirtualFor="let it of items; let i=index" style="max-width: 100%;">
              <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
                <div class="card-header card-header-image" style="width:20%;height: 20%;margin: auto;" (click)="ItemDetail(it.id)">
                  <a >
                    <img  src="http://192.168.100.136/shop/web/items/{{systemid}}/{{it.itemno}}/{{it.photo}}"
                          onError="this.src='http://192.168.100.136/shop/web/items/default/file_icon.png';" alt="..." >
                  </a>
                </div>
                <div class="card-body">
                  <a (click)="ItemDetail(it.id)">
                    <h4 class="card-title" style="text-align: justify">{{it.text1}} - {{it.itemno}}</h4>
                  </a>
                  <p class="description">
                    {{it.text2}}
                  </p>
                </div>
                <div class="card-footer justify-content-between">
                  <div class="price-container">
                    <span class="price"> € 800</span>
                  </div>
                  <button class="btn btn-rose btn-link btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Remove from wishlist">
                    <i class="material-icons">favorite</i>
                  </button>
                </div>
              </div>
              <!-- end card -->
            </div>
            </cdk-virtual-scroll-viewport>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section -->
</div>
<!-- end-main-raised -->
<!-- section -->
<script>
  $(document).ready(function() {

    var slider2 = document.getElementById('sliderRefine');

    noUiSlider.create(slider2, {
      start: [101, 790],
      connect: true,
      range: {
        'min': [30],
        'max': [900]
      }
    });

    var limitFieldMin = document.getElementById('price-left');
    var limitFieldMax = document.getElementById('price-right');

    slider2.noUiSlider.on('update', function(values, handle) {
      if (handle) {
        limitFieldMax.innerHTML = $('#price-right').data('currency') + Math.round(values[handle]);
      } else {
        limitFieldMin.innerHTML = $('#price-left').data('currency') + Math.round(values[handle]);
      }
    });
  });
</script>
</body>
