<body class="ecommerce">
<div class="section-space"></div>
<div class="container">
  <div class="row">
    <div class="col-md-8 ml-auto mr-auto text-center">
      <div class="brand">
        <h1 class="title">Ecommerce Page!</h1>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <!-- section -->
  <div class="section">
    <div class="container">
      <h2 class="section-title">Find what you need</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-refine card-plain card-rose">
            <div class="card-body">
              <h4 class="card-title">
                Refine
                <button class="btn btn-default btn-fab btn-fab-mini btn-link pull-right" rel="tooltip" title="" data-original-title="Reset Filter">
                  <i class="material-icons">cached</i>
                </button>
              </h4>
              <cdk-virtual-scroll-viewport itemSize="15">
                  <div>{{categorys.length}}</div>
                <div id="accordion" role="tablist"  *cdkVirtualFor="let cat of categorys">
                  <div class="card card-collapse" >
                    <div class="card-header" role="tab" id="headingTwo">
                      <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#{{cat.id}}" aria-expanded="false" aria-controls="collapseTwo">
                          {{cat.itemgroup1}}
                          <i class="material-icons">keyboard_arrow_down</i>
                        </a>
                      </h5>
                    </div>
                    <div id="{{cat.id}}" class="collapse" role="tabpanel" aria-labelledby="headingTwo" *ngIf="cat.itemgroups">
                      <div class="card-body">
                        <div id="accordiong2" role="tablist">
                          <div class="card card-collapse" *ngFor="let cat2 of cat.itemgroups">
                            <div class="card-header" role="tab" id="headingTwog2">
                              <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#{{cat2.id}}" aria-expanded="false" aria-controls="collapseTwog2">
                                  {{cat2.itemgroup2}}
                                  <i class="material-icons">keyboard_arrow_down</i>
                                </a>
                              </h5>
                            </div>
                            <div id="{{cat2.id}}" class="collapse" role="tabpanel" aria-labelledby="headingTwo" *ngIf="cat2.itemgroups">
                              <div class="card-body">

                                <div id="accordiong3" role="tablist">
                                  <div class="card card-collapse" *ngFor="let cat3 of cat2.itemgroups">
                                    <div class="card-header" role="tab" id="headingTwog3">
                                      <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#{{cat3.id}}" aria-expanded="false" aria-controls="collapseTwog3">
                                          {{cat3.itemgroup3}}
                                          <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                      </h5>
                                    </div>
                                    <div id="{{cat3.id}}" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                      <div class="card-body">
                                        qsdqsd
                                      </div>
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>



                      </div>
                    </div>
                  </div>
                </div>

              </cdk-virtual-scroll-viewport>


            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <cdk-virtual-scroll-viewport itemSize="15" style="width: 100%" autosize>
            <div class="col-md-4">
              <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
                <div class="card-header card-header-image">
                  <a href="#">
                    <img src="../assets/img/kit/pro/examples/suit-1.jpg" alt="...">
                  </a>
                </div>
                <div class="card-body">
                  <a href="#">
                    <h4 class="card-title">Polo Ralph Lauren</h4>
                  </a>
                  <p class="description">
                    Impeccably tailored in Italy from lightweight navy wool.
                  </p>
                </div>
                <div class="card-footer justify-content-between">
                  <div class="price-container">
                    <span class="price"> € 800</span>
                  </div>
                  <button class="btn btn-rose btn-link btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Remove from wishlist">
                    <i class="material-icons">favorite</i>
                  </button>
                </div>
              </div>
              <!-- end card -->
            </div>
            <div class="col-md-4">
              <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
                <div class="card-header card-header-image">
                  <a href="#">
                    <img src="../assets/img/kit/pro/examples/suit-2.jpg" alt="...">
                  </a>
                </div>
                <div class="card-body">
                  <a href="#">
                    <h4 class="card-title">Wooyoungmi</h4>
                  </a>
                  <p class="description">
                    Dark-grey slub wool, pintucked notch lapels.
                  </p>
                </div>
                <div class="card-footer justify-content-between">
                  <div class="price-container">
                    <span class="price">€ 555</span>
                  </div>
                  <button class="btn btn-rose btn-link btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Add to wishlist">
                    <i class="material-icons">favorite_border</i>
                  </button>
                </div>
              </div>
              <!-- end card -->
            </div>
            <div class="col-md-4">
              <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
                <div class="card-header card-header-image">
                  <a href="#">
                    <img src="../assets/img/kit/pro/examples/suit-3.jpg" alt="...">
                  </a>
                </div>
                <div class="card-body">
                  <a href="#">
                    <h4 class="card-title">Tom Ford</h4>
                  </a>
                  <p class="description">
                    Immaculate tailoring is TOM FORD's forte.
                  </p>
                </div>
                <div class="card-footer justify-content-between">
                  <div class="price-container">
                    <span class="price"> € 879</span>
                  </div>
                  <button class="btn btn-rose btn-link btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Add to wishlist">
                    <i class="material-icons">favorite_border</i>
                  </button>
                </div>
              </div>
              <!-- end card -->
            </div>
            <div class="col-md-4">
              <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
                <div class="card-header card-header-image">
                  <a href="#">
                    <img src="../assets/img/kit/pro/examples/suit-4.jpg" alt="...">
                  </a>
                </div>
                <div class="card-body">
                  <a href="#">
                    <h4 class="card-title">Thom Sweeney</h4>
                  </a>
                  <p class="description">
                    It's made from lightweight grey wool woven.
                  </p>
                </div>
                <div class="card-footer justify-content-between">
                  <div class="price-container">
                    <span class="price"> € 680</span>
                  </div>
                  <button class="btn btn-rose btn-link btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Add to wishlist">
                    <i class="material-icons">favorite_border</i>
                  </button>
                </div>
              </div>
              <!-- end card -->
            </div>
            <div class="col-md-4">
              <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
                <div class="card-header card-header-image">
                  <a href="#">
                    <img src="../assets/img/kit/pro/examples/suit-5.jpg" alt="...">
                  </a>
                </div>
                <div class="card-body">
                  <a href="#">
                    <h4 class="card-title">Kingsman</h4>
                  </a>
                  <p class="description">
                    Crafted from khaki cotton and fully canvassed.
                  </p>
                </div>
                <div class="card-footer justify-content-between">
                  <div class="price-container">
                    <span class="price"> € 725</span>
                  </div>
                  <button class="btn btn-rose btn-link btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Remove from wishlist">
                    <i class="material-icons">favorite</i>
                  </button>
                </div>
              </div>
              <!-- end card -->
            </div>
            <div class="col-md-4">
              <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
                <div class="card-header card-header-image">
                  <a href="#">
                    <img src="../assets/img/kit/pro/examples/suit-6.jpg" alt="...">
                  </a>
                </div>
                <div class="card-body">
                  <a href="#">
                    <h4 class="card-title">Boglioli</h4>
                  </a>
                  <p class="description">
                    Masterfully crafted in Northern Italy.
                  </p>
                </div>
                <div class="card-footer justify-content-between">
                  <div class="price-container">
                    <span class="price">€ 699</span>
                  </div>
                  <button class="btn btn-rose btn-link btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Add to wishlist">
                    <i class="material-icons">favorite_border</i>
                  </button>
                </div>
              </div>
              <!-- end card -->
            </div>
            </cdk-virtual-scroll-viewport>
          </div>
        </div>
      </div>
      <br>
      <h2 class="section-title">News in fashion</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-background" style="background-image: url(../assets/img/kit/pro/examples/color1.jpg)">
            <div class="card-body">
              <h6 class="card-category text-info">Productivy Apps</h6>
              <a href="#pablo">
                <h3 class="card-title">The best trends in fashion 2017</h3>
              </a>
              <p class="card-description">
                Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
              </p>
              <a href="#pablo" class="btn btn-white btn-round">
                <i class="material-icons">subject</i> Read
              </a>
            </div>
          </div>
          <!-- end card -->
        </div>
        <div class="col-md-4">
          <div class="card card-background" style="background-image: url(../assets/img/kit/pro/examples/color3.jpg)">
            <div class="card-body">
              <h6 class="card-category text-info">Fashion News</h6>
              <h3 class="card-title">Kanye joins the Yeezy team at Adidas</h3>
              <p class="card-description">
                Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
              </p>
              <a href="#pablo" class="btn btn-white btn-round">
                <i class="material-icons">subject</i> Read
              </a>
            </div>
          </div>
          <!-- end card -->
        </div>
        <div class="col-md-4">
          <div class="card card-background" style="background-image: url(../assets/img/kit/pro/examples/color2.jpg)">
            <div class="card-body">
              <h6 class="card-category text-info">Productivy Apps</h6>
              <a href="#pablo">
                <h3 class="card-title">Learn how to use the new colors of 2017</h3>
              </a>
              <p class="card-description">
                Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
              </p>
              <a href="#pablo" class="btn btn-white btn-round">
                <i class="material-icons">subject</i> Read
              </a>
            </div>
          </div>
          <!-- end card -->
        </div>
        <div class="col-md-6">
          <div class="card card-background" style="background-image: url(../assets/img/kit/pro/dg3.jpg)">
            <div class="card-body">
              <h6 class="card-category text-info">Tutorials</h6>
              <a href="#pablo">
                <h3 class="card-title">Trending colors of 2017</h3>
              </a>
              <p class="card-description">
                Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
              </p>
              <a href="#pablo" class="btn btn-white btn-round">
                <i class="material-icons">subject</i> Read
              </a>
            </div>
          </div>
          <!-- end card -->
        </div>
        <div class="col-md-6">
          <div class="card card-background" style="background-image: url(../assets/img/kit/pro/dg1.jpg)">
            <div class="card-body">
              <h6 class="card-category text-info">Productivy Style</h6>
              <a href="#pablo">
                <h3 class="card-title">Fashion &amp; Style 2017</h3>
              </a>
              <p class="card-description">
                Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
              </p>
              <a href="#pablo" class="btn btn-white btn-round">
                <i class="material-icons">subject</i> read
              </a>
            </div>
          </div>
          <!-- end card -->
        </div>
      </div>
    </div>
  </div>
  <!-- section -->
</div>
<!-- end-main-raised -->
<!-- section -->
<script>
  $(document).ready(function() {

    var slider2 = document.getElementById('sliderRefine');

    noUiSlider.create(slider2, {
      start: [101, 790],
      connect: true,
      range: {
        'min': [30],
        'max': [900]
      }
    });

    var limitFieldMin = document.getElementById('price-left');
    var limitFieldMax = document.getElementById('price-right');

    slider2.noUiSlider.on('update', function(values, handle) {
      if (handle) {
        limitFieldMax.innerHTML = $('#price-right').data('currency') + Math.round(values[handle]);
      } else {
        limitFieldMin.innerHTML = $('#price-left').data('currency') + Math.round(values[handle]);
      }
    });
  });
</script>
</body>
